<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DFNumberScrollDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>847984AD1DEEFB79006242FE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>847984C61DEEFB7A006242FE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>847984D11DEEFB7A006242FE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
